

<h1 class="eti1">ACERCA DE NOSOTROS</h1>



<br />
<div class="card">
  <div class="img-container">
    <img src="/assets/pau.jpg" alt="" />
  </div>
  <div class="detalles">
    <div class="campo">
      <label class="etiqueta"
        >Nombre:
        <p class="eti">Paulina Lizbeth Esparza Jimenez</p>
      </label>
    </div>
    <br />
    <div class="campo">
      <label class="etiqueta"
        >Carrera:
        <p class="eti">Ing. Sistemas Computacionales"</p>
      </label>
    </div>
    <br />
    <div class="campo">
      <label class="etiqueta"
        >ID:
        <p class="eti">217114</p>
      </label>
    </div>
  </div>
</div>
<br >
<div class="card">
  <div class="img-container">
    <img src="/assets/itzel.jpg" alt="" />
  </div>
  <div class="detalles">
    <div class="campo">
      <label class="etiqueta"
        >Nombre:
        <p class="eti">Karen Itzel Vazquez Reyes</p>
      </label>
    </div>
    <br />
    <div class="campo">
      <label class="etiqueta"
        >Carrera:
        <p class="eti">Ing. Sistemas Computacionales</p>
      </label>
    </div>
    <br />
    <div class="campo">
      <label class="etiqueta"
        >ID:
        <p class="eti">297822</p>
      </label>
    </div>
  </div>
</div>
